---
# layout: default
title: Andrew Schwartz
layout: default
---

<section class="introduction">
	<p>A community created list of projects to improve your Java skills.</p>
</section>

<section class="projects">
  <h2 class="">Projects:</h2>
</br>
</br>
<div style="overflow-x:auto">
  <table>
    <thead>
      <td>Name</td>
      <td>Category</td>
      <td>Difficulty (1-5)</td>
      <td>Type*</td>
    </thead>
    <tbody id="jetsContent">
      {% for project in site.data.projects %}
      <tr>
        {% if project.url %}
        <td><a href="{{ project.url }}">{{ project.name }}</a></td>
        {% else %}
        <td>{{ project.name }}</td>
        {% endif %}
        <td>{{ project.category }}</td>
        <td>{{ project.difficulty }}</td>
        <td>{{ project.class }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </br>
  <hr></hr>
  <p>*Type is whether the project is an open source one that people can contribute to or if it is a small, learning project that someone would just make on their own.</p>
</div>
</section>
